{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智诚资本推荐系统</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <style type="text/css">
        .commonform {
            border: 2px solid #357ebd; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
    <script>
        function check() {
            var reg = /^(\d{4})([-])(\d{2})([-])(\d{2})$/;
            var regExp = new RegExp(reg);
            var regm = /^\d{1,}$/;
            var regExpm = new RegExp(regm);
            var datel = document.getElementById('register_date_l');
            var dateu = document.getElementById('register_date_u');
            var moneyl = document.getElementById('money_l');
            var moneyu = document.getElementById('money_u');
            if (!regExp.test(datel.value)) {
                alert("日期格式不正确，正确格式为：2014-01-01");
                return false
            }
            else if (!regExp.test(dateu.value)) {
                alert("日期格式不正确，正确格式为：2014-01-01");
                return false
            }
            else if (!regExpm.test(moneyl.value)) {
                alert("注册资金只能为数字");
                return false
            }
            else if (!regExpm.test(moneyu.value)) {
                alert("注册资金只能为数字");
                return false
            }
            else {
                return true
            }
        }

    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center" style="background-color: white;margin-top: 50px">
        <h1 style="font-size: 88px;font-weight: 600;color: #192552">智诚资本推荐系统</h1>
        <p style="font-size: 50px;color: #192552">Witruth Capital</p>
    </div>
    <div  class="commonform" style="margin-top: -50px;width: 1200px;height: 450px;">
    <form method="post" target="_blank" style="width: 1050px;margin: auto;margin-top: 40px" onsubmit="return check()">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>成立日期：</td>
                    <td>
                        <input name="register_date_l" id="register_date_l" placeholder="下限" required>
                        <input name="register_date_u" id="register_date_u" placeholder="上限" required>
                    </td>
                    <td>格式：2018-01-01</td>
                </tr>
                <tr>
                    <td>行业：</td>
                    <td>
                        <select name="industry" style="height: 25px;width: 182px">   
                            <option value="0">不过滤</option>
                                             
                            <option value="1">白名单过滤</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>注册资本：</td>
                    <td>
                        <input name="money_l" placeholder="下限" id="money_l" required>
                        <input name="money_u" placeholder="上限" id="money_u" required>
                    </td>
                    <td>单位：万元</td>
                </tr>
                <tr>
                    <td>地区：</td>
                    <td>
                        <select name="district" style="height: 25px;width: 182px">     
                            <option value="0">不过滤</option>
                                           
                            <option value="1">白名单过滤</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>是否上市：</td>
                    <td>
                        <select name="stock" style="height: 25px;width: 182px">     
                            <option value="2">不过滤</option>
                                           
                            <option value="1">否</option>
                            <option value="0">是</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>法人是否外国人：</td>
                    <td>
                        <select name="foreign" style="height: 25px;width: 182px">   
                            <option value="2">不过滤</option>
                                             
                            <option value="1">是</option>
                            <option value="0">否</option>

                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>是否CRM过滤：</td>
                    <td>
                        <select name="crm" style="height: 25px;width: 182px">                     
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

<div class="pager">
    <button type="submit">提交</button>
</div>
</form>
        </div>
</div>
</body>
</html>