<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>注册时间</th>
            <th>用户名</th>
            <th>唯一ID</th>
            <th>用户邮箱</th>
            <th>账号激活</th>
            <th>账号验证</th>
            <th>查看详情</th>
        </tr>
        </thead>
        <tbody id="main_table">
        {% for i in user_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.register_time }}</td>
                <td>{{ i.real_name }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.auth }}</td>
                <td id="audit-{{ i.username }}">{{ i.audit }}</td>
                <td>
                    <a data-toggle="modal" data-target="#{{ i.username }}" href="#">审核</a>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="{{ i.username }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" id="close-{{ i.username }}" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">用户审核</h4>
                        </div>
                        <div class="modal-body">
                            <nav class="navbar">
                                <p class="navbar-text" style="width: 100px">真实姓名：</p>
                                <p class="navbar-text">{{ i.real_name }}</p>
                            </nav>
                            <nav class="navbar">
                                <p class="navbar-text" style="width: 100px">身份证号：</p>
                                <p class="navbar-text">{{ i.id_num }}</p>
                            </nav>
                            <nav class="navbar">
                                <p class="navbar-text" style="width: 100px">用户昵称：</p>
                                <p class="navbar-text">{{ i.nick_name }}</p>
                            </nav>
                            <nav class="navbar">
                                <p class="navbar-text" style="width: 100px">电子邮箱：</p>
                                <p class="navbar-text">{{ i.email }}</p>
                            </nav>
                            <nav class="navbar">
                                <p class="navbar-text" style="width: 100px">手机号码：</p>
                                <p class="navbar-text">{{ i.tel_num }}</p>
                            </nav>
                            <div class="col-lg-15 col-lg-11 input-group">
                                <br>
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3>证件照正面</h3>
                                    </div>
                                    <img src="{{ i.audit_a_img }}">
                                </div>
                                <br>
                            </div>
                            <div class="col-lg-15 col-lg-11 input-group">
                                <br>
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3>证件照反面</h3>
                                    </div>
                                    <img src="{{ i.audit_b_img }}">
                                </div>
                                <br>
                            </div>
                        </div>
                        <br> <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-default" id="no-{{ i.username }}">不通过</button>
                            <button type="button" class="btn btn-default" id="yes-{{ i.username }}">通过审核</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>