<div class="table-responsive">
    <div class="col-lg-offset-6">
        <form>
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" id="register_node" name="node"
                       placeholder="Eg.192.168.1.1:2000">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="submit_node">注册节点</button>
      </span>
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-lg-6 -->
    <br><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>注册时间</th>
            <th>节点地址</th>
            <th>节点管理者</th>
        </tr>
        </thead>
        <tbody>
        {% for node in node_info %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ node.time }}</td>
            <td>{{ node.node }}</td>
            <td>{{ node.admin }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>