<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>项目名称</th>
            <th>发起者</th>
            <th>发起时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="main_table">
        {% for i in project_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.project_name }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.post_time }}</td>
                <td>
                    <a id="check-{{ i.project_index }}" href="#">审核</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>