{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>窝头众筹</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="/static/images/logo3.png" type="image/x-icon">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{% static 'images/logo3.png' %}"
                     style="width: 30px;height:30px;margin-top: -5px ">
            </a>
        </div>
        {% if auth %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}" style="color: #192552">主页</a></li>
                    <li><a href="{% url 'start_crowdfunding' %}" style="color: #192552">发起众筹</a></li>
                    <li><a href="#" style="color: #192552">查看众筹</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'user_page' %}" style="color: #192552">个人页面</a></li>
                    <li><a href="{% url 'logout' %}" style="color: #192552">注销</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        {% else %}

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}" style="color: #192552">主页</a></li>
                    <li><a href="{% url 'start_crowdfunding' %}" style="color: #192552">发起众筹</a></li>
                    <li><a href="#" style="color: #192552">查看众筹</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'register' %}" style="color: #192552">注册</a></li>
                    <li><a href="{% url 'log_in' %}" style="color: #192552">登录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        {% endif %}
    </div>
</nav>

<div class="container" style="margin-top: 100px">

    <!-- Main component for a primary marketing message or call to action -->
    <div style="margin:auto;width: 800px;height: 400px" class="commonDiv">
        <div style="margin: 30px;color: #192552">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It
                includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>