<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td style="width: 90px">项目名称：</td>
            <td>{{ project_name }}</td>
            <td style="width: 90px">发起者：</td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td style="width: 90px">项目简介：</td>
            <td>{{ brief_summary }}</td>
            <td style="width: 90px">截止日期：</td>
            <td>{{ deadline }}</td>
        </tr>
        <tr>
            <td style="width: 90px">目标金额：</td>
            <td>{{ target_amount }}</td>
            <td style="width: 90px">联系电话：</td>
            <td>{{ tel }}</td>
        </tr>
        </tbody>
    </table>
</div>