{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>窝头众筹</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="icon" href="/static/images/logo3.png" type="image/x-icon">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
    <script src="{% static 'js/register_form.js' %}"></script>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{% static 'images/logo3.png' %}"
                     style="width: 30px;height:30px;margin-top: -5px ">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}" style="color: #192552">主页</a></li>
                <li><a href="#" style="color: #192552">发起众筹</a></li>
                <li><a href="#" style="color: #192552">查看众筹</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: #192552">注册</a></li>
                <li><a href="{% url 'log_in' %}" style="color: #192552">登录</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 60px">

    <!-- Main component for a primary marketing message or call to action -->
    <div style="margin:auto;width: 730px;height: 600px" class="commonDiv">
        <div style="margin: 30px;color: #192552">
            <h1>注册</h1>
            <br>
            <form method="post" name="register_form">
                {% csrf_token %}
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>注册邮箱</span>
                    <input type="text" id="email" name="email" class="form-control" required style="width: 400px" placeholder="必填，登录账号，用于接收验证码">
                    <div id="email_error"></div>
                </div>
                <br>
                <div class="input-group text-left">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>用户密码</span>
                    <input type="password" name="password" id="password" class="form-control" required style="width: 400px" placeholder="必填，8到20位密码">
                    <div id="password_error"></div>
                </div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>重复密码</span>
                    <input type="password" name="repeat_password" id="repeat_password" class="form-control" required style="width: 400px" placeholder="必填，重复输入一次密码">
                    <div id="repeat_password_error"></div>
                </div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>用户昵称</span>
                    <input type="text" name="nick_name" id="nick_name" class="form-control" required style="width: 400px" placeholder="必填">
                    <div id="nick_name_error"></div>
                </div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>真实姓名</span>
                    <input type="text" name="real_name" id="real_name" class="form-control" required style="width: 400px" placeholder="必填，暂时只支持纯中文名">
                    <div id="real_name_error"></div>
                </div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>身份证号</span>
                    <input type="text" name="id_num" id="id_num" class="form-control" required style="width: 400px" placeholder="必填，用于确认身份，一个身份证号只能注册一个账号">
                    <div id="id_num_error"></div>
                </div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>手机号码</span>
                    <input type="text" name="tel_num" id="tel_num" class="form-control" required style="width: 400px" placeholder="必填，联系方式">
                    <div id="tel_num_error"></div>
                </div>
                <br> <br>
                <nav style="margin-left: 230px">
                    <button class="btn btn-default" type="submit">提交</button>
                </nav>
            </form>
        </div>

    </div>

</div> <!-- /container -->
</body>
</html>