{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>窝头众筹</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="icon" href="/static/images/logo3.png" type="image/x-icon">
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
    <script src="{% static 'js/reset_pd.js' %}"></script>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{% static 'images/logo3.png' %}"
                     style="width: 30px;height:30px;margin-top: -5px ">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}" style="color: #192552">主页</a></li>
                <li><a href="#" style="color: #192552">发起众筹</a></li>
                <li><a href="#" style="color: #192552">查看众筹</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'register' %}" style="color: #192552">注册</a></li>
                <li><a href="{% url 'log_in' %}" style="color: #192552">登录</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 60px">

    <!-- Main component for a primary marketing message or call to action -->
    <div style="margin:auto;margin-top: 150px;width: 350px;height: 350px" class="commonDiv">
        <div style="margin: 30px;color: #192552">
            <form method="post">
                {% csrf_token %}
                <div id="hand_in_error" style="height: 20px;text-align: center;vertical-align: center"></div>
                <br>
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>注册邮箱</span>
                    <input type="text" id="email" name="email" class="form-control" required>
                </div>
                <br>
                <div class="input-group text-left">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>新密码&ensp;&ensp;</span>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <br>
                <div class="input-group text-left">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>确认密码</span>
                    <input type="password" name="repeat_password" id="repeat_password" class="form-control" required>
                </div>
                <input hidden id="uid" value="{{ username }}">
                <input hidden id="spvc" value="{{ verify_code }}">
                <br>
                <nav>
                    <ul class="pager" style="margin-top: 10px">
                        <li>
                            <button class="btn btn-default" id="hand_in" type="button">提交</button>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>