{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img alt="Brand" src="{% static 'images/logo3.png' %}"
                 style="width: 30px;height:30px;margin-top: -5px ">
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'company_filter' %}" style="color: #192552">主页</a></li>

        </ul>
    </div><!--/.nav-collapse -->
</nav>
<div class="table-responsive">
    <table class="table table-striped" id="tb" style="width: 1905px">
        <thead>
        <tr>
            <th style="width: 350px" data-type="string"><a href="#">企业全称</a></th>
            <th style="width: 120px" data-type="string"><a href="#">公司地区</a></th>
            <th style="width: 270px" data-type="string"><a href="#">行业</a></th>
            <th style="width: 130px" data-type="num"><a href="#">注册资本</a></th>
            <th style="width: 80px" data-type="string"><a href="#">是否上市</a></th>
            <th style="width: 300px" data-type="string"><a href="#">主要负责人</a></th>
            <th style="width: 120px" data-type="date"><a href="#">成立日期</a></th>
            <th style="width: 80px" data-type="string"><a href="#">详情链接</a></th>
            <th style="width: 120px" data-type="num"><a href="#">OPS评分</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for company in company_list %}
            <tr>
                <td>{{ company.企业全称 }}</td>
                <td>{{ company.省份 }}-{{ company.地区 }}</td>
                <td>{{ company.行业 }}</td>
                <td>{{ company.注册资本 }}</td>
                <td>{{ company.是否上市 }}</td>
                <td>{{ company.主要负责人 }}</td>
                <td>{{ company.成立日期 }}</td>
                <td><a href="{{ company.链接 }}">前往</a></td>
                <td id="{{ company.企业全称 }}-ops">{{ company.ops }}</td>
                <td><a id="update-{{ company.企业全称 }}_{{ company.成立日期 }}" href="#">
                    <span class="glyphicon glyphicon-refresh" style="color: #192552"></span>
                    <span style="color: #192552"></span>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        ;(function () {
            var tbody = document.querySelector('#tb').tBodies[0];
            var th = document.querySelector('#tb').tHead.rows[0].cells;
            var td = tbody.rows;
            for (var i = 0; i < th.length; i++) {
                th[i].flag = 1;
                th[i].onclick = function () {
                    sort(this.getAttribute('data-type'), this.flag, this.cellIndex);
                    this.flag = -this.flag;
                };
            }
            ;

            function sort(str, flag, n) {
                var arr = [];
                for (var i = 0; i < td.length; i++) {
                    arr.push(td[i]);
                }
                ;
                arr.sort(function (a, b) {
                    return method(str, a.cells[n].innerHTML, b.cells[n].innerHTML) * flag;
                });
                for (var i = 0; i < arr.length; i++) {
                    tbody.appendChild(arr[i]);
                }
                ;
            };

            function method(str, a, b) {
                switch (str) {
                    case 'num':
                        return a - b;
                        break;
                    case 'string':
                        return a.localeCompare(b);
                        break;
                    default:
                        return new Date(a.split('-').join('/')).getTime() - new Date(b.split('-').join('/')).getTime();
                }
                ;
            };
        })();
    </script>
    <script>
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

            if (arr = document.cookie.match(reg))

                return unescape(arr[2]);
            else
                return null;
        }

        $("[id^=update-]").click(function () {
            var id = $(this).attr("id").split("update-")[1];
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
            $.ajax({
                url: "/update_ops/",
                type: 'POST',
                data: {company_info: id},
                dataType: 'json',
                success: function (arg) {
                    $("#" + arg.id + "-ops").empty();
                    $("#" + arg.id + "-ops").css("color", "deeppink");
                    $("#" + arg.id + "-ops").append(arg.score);
                }
            });
        })
    </script>
</div>
</body>
</html>