{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>窝头众筹</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
            <link rel="icon" href="/static/images/logo3.png" type="image/x-icon">
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/start_crowdfunding.js' %}"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{% static 'images/logo3.png' %}"
                     style="width: 30px;height:30px;margin-top: -5px ">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}" style="color: #192552">主页</a></li>
                <li><a href="#" style="color: #192552">发起众筹</a></li>
                <li><a href="#" style="color: #192552">查看众筹</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'user_page' %}" style="color: #192552">个人页面</a></li>
                <li><a href="{% url 'logout' %}" style="color: #192552">注销</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 20px">
    <div>
        <ol class="breadcrumb" style="background-color: transparent;font-size: 30px;">
            <li style="color: #1c5e1c">基本信息</li>
            <li id="l-1" style="color: #8c8c8c">项目详情</li>
            <li id="l-2" style="color: #8c8c8c">预期目标和回报</li>
        </ol>
    </div>
    <!-- Main component for a primary marketing message or call to action -->
    <div style="margin:auto;width: 1110px">
        <form method="post" name="main_form" enctype="multipart/form-data">
            <div id="page_1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>众筹项目名称</span>
                            <input type="text" name="project_name" id="project_name" class="form-control"
                                   aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>一句话概括</span>
                            <input type="text" name="brief_summary" id="brief_summary" class="form-control"
                                   aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>目标募资金额</span>
                            <input type="text" placeholder="单位：元" name="target_amount" id="target_amount"
                                   class="form-control" aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>截止日期&ensp;&ensp;</span>
                            <input type="text" placeholder="格式：2018.01.01" name="deadline" id="deadline"
                                   class="form-control" aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>发起人邮箱&ensp;&ensp;</span>
                            <input type="text" name="email" id="email" class="form-control" aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>联系电话&ensp;&ensp;</span>
                            <input type="text" placeholder="输入手机号码。" name="tel" id="tel" class="form-control"
                                   aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>支付宝账号&ensp;&ensp;</span>
                            <input type="text" placeholder="交易方式至少写一项。" name="Alipay" id="Alipay" class="form-control"
                                   aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>微信账号&ensp;&ensp;</span>
                            <input type="text" placeholder="交易方式至少写一项。" name="wechat" id="wechat" class="form-control"
                                   aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>银行卡账号&ensp;&ensp;</span>
                            <input type="text" name="bank_account" placeholder="交易方式至少写一项。" id="bank_account"
                                   class="form-control" aria-label="...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
            <span class="input-group-addon alert-success"><span class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>
        <span class="sr-only"></span>封面图片&ensp;&ensp;</span>
                            <input type="file" style="display:none;" name="picpath" id="picpath"
                                   onChange="document.main_form.path.value=this.value"
                                   accept="image/gif, image/jpeg, image/png, image/jpg">
                            <input id="path" name="path" readonly class="form-control">
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-default" value="上传照片"
                                       onclick="document.main_form.picpath.click()">
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                <br>
                <div class="alert alert-success text-left" role="alert">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>自我介绍<br>
                </div>

                <textarea id="self_introduction" name="self_introduction" class="ckeditor"></textarea>
                <br>
            </div>
            <div id="page_2" style="display: none">
                <div class="alert alert-success text-left" role="alert">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>项目详情<br>
                </div>

                <textarea id="project_introduction" name="project_introduction"></textarea>
                <br>
            </div>
            <div id="page_3" style="display: none">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                     <span class="input-group-addon alert alert-success text-left"><span
                             class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>回报</span>
                            <input type="text" id="reward" name="reward" class="form-control" placeholder="产品或者利润">
                            <input type="text" id="unit_price" name="unit_price" class="form-control" placeholder="单价">
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <div class="row" id="p_1">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_1" id="pg_1" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_1" id="pw_1" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_2" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_2" id="pg_2" class="form-control goals"
                                       placeholder="简述目标(必填)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_2" id="pw_2" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_3" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_3" id="pg_3" class="form-control goals"
                                       placeholder="简述目标(必填)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_3" id="pw_3" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_4" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_4" id="pg_4" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_4" id="pw_4" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_5" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_5" id="pg_5" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_5" id="pw_5" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_6" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_6" id="pg_6" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_6" id="pw_6" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_7" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_7" id="pg_7" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_7" id="pw_7" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_8" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_8" id="pg_8" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_8" id="pw_8" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_9" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_9" id="pg_9" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_9" id="pw_9" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="p_10" style="display: none">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>阶段目标</span>
                                <input type="text" name="pg_10" id="pg_10" class="form-control goals"
                                       placeholder="简述目标(必填)"
                                >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-addon alert-success text-left"><span
                                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>投资者权重</span>
                                <input type="text" name="pw_10" id="pw_10" class="form-control award"
                                       placeholder="投资权重(必填)">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-2" style="float: right">
                        <a type="button" class="form-control btn btn-default" id="add_period">
                            <span class="glyphicon glyphicon-plus" style="color: #1c5e1c"></span>
                            <span style="color: #1c5e1c">增加一条</span>
                        </a>
                    </div>
                </div>
                <br>
                <div class="alert alert-success text-left" role="alert">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span class="sr-only"></span>感谢信<br>
                </div>

                <textarea id="thanks" name="thanks"></textarea>
                <br>
            </div>
            <div id="normal_pager">
                <nav>
                    <ul class="pager">
                        <li>
                            <input type="button" id="n-last" class="btn btn-default btn-lg" value="上一页">
                        </li>
                        <li>
                            <input type="button" id="n-next" class="btn btn-default btn-lg" value="下一页">
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="submit_pager" style="display: none">
                <nav>
                    <ul class="pager">
                        <li>
                            <input type="button" id="s-last" class="btn btn-default btn-lg" value="上一页">
                        </li>
                        <li>
                            <input type="submit" id="s-next" onclick="return hand_in()" class="btn btn-default btn-lg"
                                   value="提交">
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
        <div style="height: 100px"></div>
        <script>
            CKEDITOR.replace('self_introduction', {
                customConfig: '/static/ckeditor/config.js',

            });
            CKEDITOR.replace('project_introduction', {
                customConfig: '/static/ckeditor/config.js',
                height: 570,

            });
            CKEDITOR.replace('thanks', {
                customConfig: '/static/ckeditor/config.js',
                height: 300,

            });
        </script>
    </div>
</div> <!-- /container -->
</body>
</html>