{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>窝头众筹</title>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    `
    <style type="text/css">
        .commonDiv {
            border: 2px solid #192552; /*上下左右的边框线样式相同*/
            box-shadow: darkgrey 0px 0px 20px 3px;
        }
    </style>
    <script src="{% static 'js/register_form.js' %}"></script>
   <script>
        $(function () {
            $("#email").blur(function () {
                var email = $('#email').val();
                $.ajaxSetup({
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'}
                });
                $.ajax({
                    url: "{% url 'register' %}",
                    type: 'POST',
                    data: {email: email},
                    success: function (arg) {
                        alert(arg)
                    }
                });
            });
        });
    </script>
</head>
<body>

<div class="container" style="margin-top: 60px">

    <!-- Main component for a primary marketing message or call to action -->
    <div style="margin:auto;width: 800px;height: 700px" class="commonDiv">
        <div style="margin: 30px;color: #192552">
            <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>注册邮箱</span>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <br>
            <div class="input-group text-left">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>用户密码</span>
                <input type="password" name="password" class="form-control" required>
            </div>
            <br>
        </div>

    </div>

</div> <!-- /container -->
</body>
</html>