{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="/static/images/logo3.png" type="image/x-icon">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/user_page.js' %}"></script>
    <script src="{% static 'js/user-profile.js' %}"></script>
    <title>窝头众筹——个人页面</title>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">窝头众筹</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="l-0" class="active"><a id="c-0" href="#">我的众筹</a></li>
                <li id="l-1"><a id="c-1" href="#">个人资料</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 id="main-header" class="page-header">我的众筹</h1>
            <div id="main">
                <div class="table-responsive" id="main">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>项目名称</th>
                            <th>提交日期</th>
                            <th>角色</th>
                            <th>项目状态</th>
                            <th>查看详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ project.project_name }}</td>
                                <td>{{ project.post_time }}</td>
                                <td>发起者</td>
                                <td>{{ project.Auditing }}</td>
                                <td><a href="project_detail.html?pi={{ project.project_index }}">查看详情</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>