{% csrf_token %}
<div class="table-responsive" id="main">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>真实姓名:</td>
            <td>{{ real_name }}</td>
            <td>
                <a class="disabled">
                    <span class="glyphicon glyphicon-exclamation-sign" style="color: #52000c"></span>
                    <span style="color: #52000c">不可更改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>登录账号:</td>
            <td>{{ email }}</td>
            <td>
                <a class="disabled">
                    <span class="glyphicon glyphicon-exclamation-sign" style="color: #52000c"></span>
                    <span style="color: #52000c">不可更改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>备用邮箱:</td>
            <td id="emailbak">{{ email_bak }}</td>
            <td>
                <a data-toggle="modal" data-target="#edit-email-bak" href="#">
                    <span class="glyphicon glyphicon-edit" style="color: #192552"></span>
                    <span style="color: #192552">修改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>手机号码:</td>
            <td id="handy">{{ tel_num }}</td>
            <td>
                <a data-toggle="modal" data-target="#edit-handy" href="#">
                    <span class="glyphicon glyphicon-edit" style="color: #192552"></span>
                    <span style="color: #192552">修改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>昵称:</td>
            <td id="nick_name">{{ nick_name }}</td>
            <td>
                <a data-toggle="modal" data-target="#edit-nickname" href="#">
                    <span class="glyphicon glyphicon-edit" style="color: #192552"></span>
                    <span style="color: #192552">修改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>唯一ID:</td>
            <td>{{ username }}</td>
            <td>
                <a class="disabled">
                    <span class="glyphicon glyphicon-exclamation-sign" style="color: #52000c"></span>
                    <span style="color: #52000c">不可更改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>身份证号:</td>
            <td>{{ id_num }}</td>
            <td>
                <a class="disabled">
                    <span class="glyphicon glyphicon-exclamation-sign" style="color: #52000c"></span>
                    <span style="color: #52000c">不可更改</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>账号激活:</td>
            <td>{{ auth }}</td>
            <td class="text-success">点击验证邮件的链接即可完成账号激活。</td>
        </tr>
        <tr>
            <td>身份审核:</td>
            <td id="audit_state">{{ audit }}</td>
            {% if audit == '未审核' %}
                <td>
                    <a data-toggle="modal" data-target="#audit" href="#">
                        <span class="glyphicon glyphicon-user" style="color: #192552"></span>
                        <span style="color: #192552">审核</span>
                    </a>
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}
        </tr>
        <tr>
            <td>密码:</td>
            <td>××××××××</td>
            <td>
                <a href="{% url 'forget_pd' %}">
                    <span class="glyphicon glyphicon-edit" style="color: #192552"></span>
                    <span style="color: #192552">修改</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-nickname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="n-close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改昵称</h4>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>新昵称</span>
                        <input type="text" name="nickname" id="nickname" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a type="button" class="btn btn-primary" id="nickname-save">保存</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-handy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="t-close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改手机号码</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>新号码</span>
                    <input type="text" name="tel_num" id="tel_num" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="tel_num-save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-email-bak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="e-close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改备用邮箱</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-th-large"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>新邮箱</span>
                    <input type="text" name="email_bak" id="email_bak" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="email_bak-save">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="audit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="p-close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">上传证件照</h4>
            </div>
            <div class="modal-body">
                <form name="main_form">
                    {% csrf_token %}
                    <div class="input-group">

            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-pencil"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>证件照正面</span>
                        <input type="file" style="display:none;" name="audit_a" id="audit_a"
                               onChange="preview_a(this)"
                               accept="image/gif, image/jpeg, image/png, image/jpg">
                        <input id="path_a" name="path_a" readonly class="form-control">
                        <span class="input-group-btn">
                                <input type="button" class="btn btn-default" value="上传" id="upload_a"
                                       onclick="document.main_form.audit_a.click()">
                            </span>
                    </div><!-- /input-group -->
                    <div class="col-lg-15 col-lg-11 input-group">
                        <br>
                        <div id="previewa" class="thumbnail"></div>
                        <br>
                    </div>
                    <div class="input-group">

            <span class="input-group-addon alert-info"><span class="glyphicon glyphicon-pencil"
                                                             aria-hidden="true"></span>
        <span class="sr-only"></span>证件照反面</span>
                        <input type="file" style="display:none;" name="audit_b" id="audit_b"
                               onChange="preview_b(this)"
                               accept="image/gif, image/jpeg, image/png, image/jpg">
                        <input id="path_b" name="path_b" readonly class="form-control">
                        <span class="input-group-btn">
                                <input type="button" class="btn btn-default" value="上传" id="upload_b"
                                       onclick="document.main_form.audit_b.click()">
                            </span>
                    </div><!-- /input-group -->
                    <div class="col-lg-15 col-lg-11 input-group">
                        <br>
                        <div id="previewb" class="thumbnail"></div>
                        <br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="identification_photo-save">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    function preview_a(file) {
        var prevDiv = document.getElementById('previewa');
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
            };
            reader.readAsDataURL(file.files[0]);
        } else {
            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    }

    function preview_b(file) {
        var prevDiv = document.getElementById('previewb');
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
            };
            reader.readAsDataURL(file.files[0]);
        } else {
            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    }
</script>