<div class="table-responsive" id="main">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>项目名称</th>
            <th>提交日期</th>
            <th>角色</th>
            <th>项目状态</th>
            <th>查看详情</th>
        </tr>
        </thead>
        <tbody>
        {% for project in project_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.post_time }}</td>
                <td>发起者</td>
                <td>{{ project.Auditing }}</td>
                <td><a href="project_detail.html?pi={{ project.project_index }}">查看详情</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>